<button style="padding: 0; margin: 0.1rem; cursor: pointer;" (click)="go()">
  <mat-card
    style="
      margin: 0.1rem;
      border: 1px solid black;
      height: 300px;
      width: 350px;
    "
  >
    <mat-card-header>
      <mat-card-title> {{ name }} </mat-card-title>
      <span *ngIf="price">
        Price: <strong style="font-size: large;"> ${{ price }} </strong></span
      >
    </mat-card-header>
    <img
      mat-card-image
      style="height: 200px;"
      [src]="smallPhotoUrlFact"
      alt="goods photo"
    />
    <mat-card-content>
      <div>{{ description }}</div>
    </mat-card-content>
  </mat-card>
</button>
