<h1>About this project</h1>
<p>blog-front, Angular application.</p>
<p>It`s the learn project.</p>
<ol>
  <li>base-front angular application</li>
  <li>Authentication, JWT, interceptors, guards</li>
  <li>Reactive forms, validation</li>
  <li>RxJS, Subject-state</li>
  <li>Angular-Material</li>
  <li>GraphQL</li>
  <li>infinite scroll</li>
  <li>Material multi/custom theme</li>
</ol>
<p>
  home-page:
  <a href="https://github.com/andrew2020wit/blog-front"
    >https://github.com/andrew2020wit/blog-front</a
  >
</p>
<p>
  Back-project:
  <a href="https://github.com/andrew2020wit/blog-back">
    https://github.com/andrew2020wit/blog-back
  </a>
</p>
<p>"author": "andrew2020wit"</p>
<p>"license": "view only"</p>
