<mat-form-field>
  <mat-label>Title - Filter</mat-label>
  <input
    id="filterInput"
    matInput
    type="text"
    [(ngModel)]="queryEntityDto.pattern"
  />
  <button
    mat-button
    *ngIf="queryEntityDto.pattern"
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="queryEntityDto.pattern = ''; titleFilterReLoad()"
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<app-article-header-card
  *ngFor="let entity of entitys"
  [entity]="entity"
></app-article-header-card>

<div [id]="infiniteScrollStatus.intersectId" style="height: 5px;"></div>
