<mat-form-field class="example-form-field">
  <mat-label>Title - Filter</mat-label>
  <input id="filterInput" matInput type="text" [(ngModel)]="gqlSample" />
  <button
    mat-button
    *ngIf="gqlSample"
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="gqlSample = ''; titleFilterReLoad()"
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<div class="errorLoadingDiv" *ngIf="errorLoading">No connection to server</div>

<app-article-header-card
  *ngFor="let header of articleHeaders"
  title="{{ header.title }}"
  authorFullName="{{ header.author.fullName }}"
  description="{{ header.description }}"
  createdOn="{{ header.createdOn }}"
  updatedOn="{{ header.updatedOn }}"
  id="{{ header.id }}"
></app-article-header-card>

<div id="IntersectionTarget" style="height: 5px;"></div>

<div *ngIf="loading && !dataFinished">loading...</div>
