<mat-form-field>
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    type="password"
    [(ngModel)]="formValue"
    [placeholder]="placeholder"
    (change)="onChange($event)"
    [min]="min"
    max="50"
    required
  />
</mat-form-field>
<br />
<mat-form-field>
  <mat-label>{{ label2 }}</mat-label>
  <input
    matInput
    type="password"
    [(ngModel)]="formValue2"
    [placeholder]="placeholder2"
    (change)="onChange2($event)"
    [min]="min"
    max="50"
    required
  />
</mat-form-field>
