<div class="app-form-container">
  <!-- userPhone -->
  <app-phone-input
    [init]="formFields.phone"
    (onChanged)="changeStringEvent($event)"
  ></app-phone-input>
  <br />
  <!-- userPassWord -->
  <app-w-password
    [init]="formFields.password"
    (onChanged)="changeStringEvent($event)"
  ></app-w-password>
  <br />
  <!-- FullName -->
  <app-text-input
    [init]="formFields.fullName"
    (onChanged)="changeStringEvent($event)"
  ></app-text-input>
  <br />
  <!-- Send -->
  <button mat-button color="primary" [disabled]="!formValid" (click)="send()">
    Send
  </button>
</div>
