<div class="app-form-container">
  <!-- userPhone -->
  <app-phone-input
    key="userPhone"
    (onChanged)="changeStringEvent($event)"
  ></app-phone-input>
  <br />
  <!-- userPassWord -->
  <app-w-password
    key="userPassWord"
    (onChanged)="changeStringEvent($event)"
  ></app-w-password>
  <br />
  <!-- FullName -->
  <app-text-input
    key="userFullName"
    label="FullName"
    isRequired="true"
    minlength="3"
    (onChanged)="changeStringEvent($event)"
  ></app-text-input>
  <br />
  <!-- Send -->
  <button mat-button color="primary" [disabled]="!formValid" (click)="send()">
    Send
  </button>
</div>
