<div class="app-form-container">
  <!-- userPhone -->
  <app-phone-input
    [key]="formFields.phone.key"
    (onChanged)="changeStringEvent($event)"
  ></app-phone-input>
  <br />
  <!-- userPassWord -->
  <app-w-password
    [key]="formFields.password.key"
    (onChanged)="changeStringEvent($event)"
  ></app-w-password>
  <br />
  <!-- FullName -->
  <app-text-input
    [key]="formFields.fullName.key"
    [label]="formFields.fullName.key"
    (onChanged)="changeStringEvent($event)"
  ></app-text-input>
  <br />
  <!-- Send -->
  <button mat-button color="primary" [disabled]="!formValid" (click)="send()">
    Send
  </button>
</div>
