.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.header {
  width: 100%;
  flex: 0;
}

.main {
  width: 100%;
  flex: 1;
}

.bottom {
  width: 100%;
  flex: 0;
}

.main-content {
  padding: 0.5rem;
}

.app-spinner {
  z-index: 100;
  position: absolute;
  top: 35%;
  left: 35%;
}

.error-box {
  color: red;
  font-size: large;
}
