<div class="layout">
  <header class="header">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-button color="accent" routerLink="/">
          <h1>OnlineStore: Manager</h1>
        </button>
        <span style="flex: 1 1 auto;"></span>
        <app-auth></app-auth
      ></mat-toolbar-row>
    </mat-toolbar>
  </header>

  <main class="main">
    <div class="main-content">
      <div *ngIf="errorMessage" class="error-box">{{ errorMessage }}</div>
      <router-outlet></router-outlet>
    </div>
  </main>

  <footer class="footer">
    <mat-toolbar color="primary" class="bottom-toolbar">
      <a (click)="toHome()">
        <button mat-button color="accent" title="to home">
          <h1 id="homeTitle" class="mat-h4">andrew2020wit</h1>
        </button>
      </a>
      <span></span>
      <span style="flex: 1 1 auto;"></span>
      <button mat-button color="accent" routerLink="/about">
        About
      </button>
    </mat-toolbar>
  </footer>

  <div *ngIf="isLoading" class="app-spinner">
    <mat-spinner></mat-spinner>
    <div>
      <button mat-button color="primary">Please, wait, I'm loading...</button>
    </div>
  </div>
</div>
