<div *ngIf="entity">
  <mat-card (click)="go()">
    <mat-card-header>
      <mat-card-title
        ><span style="color: red;">{{ entity.author.fullName }}</span
        >: {{ shortTitle }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>{{ shortDescription }}</div>
      <div style="text-align: right;">
        created: {{ entity.createdOn | utcToLocalTime | date: "short" }}
        <span *ngIf="entity.createdOn != entity.updatedOn"
          >updated: {{ entity.updatedOn | utcToLocalTime | date: "short" }}
        </span>
      </div>
    </mat-card-content>
  </mat-card>
</div>
