<!-- title of field is a key -->
<div class="app-form-container">
  <!-- fullName -->
  <mat-form-field>
    <mat-label>fullName</mat-label>
    <input
      title="fullName"
      matInput
      type="text"
      (change)="onChanged($event)"
      minlength="3"
      [(ngModel)]="value['fullName']"
    />
    <mat-error>{{ validationMessages["fullName"] }}</mat-error>
  </mat-form-field>
  <!-- email -->
  <br />
  <mat-form-field>
    <mat-label>email</mat-label>
    <input
      title="email"
      (change)="onChanged($event)"
      matInput
      type="text"
      minlength="3"
      [(ngModel)]="value['email']"
    />
  </mat-form-field>
  <!-- language -->
  <br />
  <mat-form-field>
    <mat-label>language</mat-label>
    <input
      matInput
      title="language"
      (change)="onChanged($event)"
      type="text"
      minlength="3"
      [(ngModel)]="value['language']"
    />
  </mat-form-field>
  <!-- birthday --><br />
  <mat-form-field>
    <mat-label>Your birthday</mat-label>
    <input
      title="birthday"
      (dateChange)="dateChange($event)"
      matInput
      [matDatepicker]="picker"
      [(ngModel)]="value['birthday']"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <br />
  <!-- gender -->
  <mat-form-field>
    <mat-label>gender</mat-label>
    <mat-select
      title="gender"
      (selectionChange)="onGenderSelect($event)"
      matInput
      [(ngModel)]="value['gender']"
    >
      <mat-option value="man">
        man
      </mat-option>
      <mat-option value="woman">
        woman
      </mat-option>
      <mat-option value="notIndicated">notIndicated </mat-option>
    </mat-select>
  </mat-form-field>
  <!-- defaultDeliverAddress --><br />
  <mat-form-field style="width: 100%;">
    <mat-label>defaultDeliverAddress</mat-label>
    <textarea
      matInput
      title="defaultDeliverAddress"
      (change)="onChanged($event)"
      placeholder="defaultDeliverAddress"
      [(ngModel)]="value['defaultDeliverAddress']"
    ></textarea>
  </mat-form-field>
  <br />
  <!-- Send -->
  <button mat-button color="primary" (click)="send()" [disabled]="!isChanged">
    Send
  </button>
</div>
