<p>goods-edit works!</p>
<form [formGroup]="form">
  <formly-form
    [form]="form"
    [fields]="formFields"
    [model]="formModel"
  ></formly-form>
</form>

<ng-container *ngIf="goodsId; else elseTemplate">
  <button mat-button color="primary" (click)="edit()" [disabled]="!form.valid">
    Edit
  </button>
  <button
    mat-button
    color="error"
    (click)="disActivate()"
    [disabled]="!form.valid"
  >
    DisActivate this goods
  </button>

  <mat-card
    class="example-card"
    *ngIf="formModel.bigPhotoUrl"
    style="width: 300px; float: left; margin: 0.5rem;"
  >
    <mat-card-header>
      <mat-card-title>BigPhoto</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      [src]="bigPhotoUrl"
      alt="bigPhoto"
      style="height: 200px;"
    />
  </mat-card>

  <mat-card
    class="example-card"
    *ngIf="formModel.smallPhotoUrl"
    style="width: 300px; float: left; margin: 0.5rem;"
  >
    <mat-card-header>
      <mat-card-title>SmallPhoto</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      [src]="smallPhotoUrl"
      alt="smallPhotoUrl"
      style="height: 200px;"
    />
  </mat-card>

  <app-upload
    label="BigPhoto"
    accept="image/*"
    [apiEndpoint]="bigApiEndpoint"
    (onDone)="doneBigImgUpload($event)"
  ></app-upload>
  <app-upload
    label="SmallPhoto"
    accept="image/*"
    [apiEndpoint]="smallApiEndpoint"
    (onDone)="doneSmallImgUpload($event)"
  ></app-upload>
</ng-container>

<ng-template #elseTemplate>
  <button
    mat-button
    color="primary"
    (click)="create()"
    [disabled]="!form.valid"
  >
    Create
  </button>
</ng-template>
