<p>goods-edit works!</p>
<form [formGroup]="form">
  <formly-form
    [form]="form"
    [fields]="formFields"
    [model]="formModel"
  ></formly-form>
</form>

<ng-container *ngIf="goodsId; else elseTemplate">
  <button mat-button color="primary" (click)="edit()" [disabled]="!form.valid">
    Edit
  </button>
  <button
    mat-button
    color="error"
    (click)="disActivate()"
    [disabled]="!form.valid"
  >
    DisActivate this goods
  </button>
  <div *ngIf="formModel.bigPhotoUrl">bigPhoto <img [src]="bigPhotoUrl" /></div>
  <div *ngIf="formModel.smallPhotoUrl">
    smallPhoto <img [src]="smallPhotoUrl" />
  </div>

  <app-upload
    label="BigPhoto"
    accept="image/*"
    [apiEndpoint]="bigApiEndpoint"
    (onDone)="doneBigImgUpload($event)"
  ></app-upload>
  <app-upload
    label="SmallPhoto"
    accept="image/*"
    [apiEndpoint]="smallApiEndpoint"
    (onDone)="doneSmallImgUpload($event)"
  ></app-upload>
</ng-container>

<ng-template #elseTemplate>
  <button
    mat-button
    color="primary"
    (click)="create()"
    [disabled]="!form.valid"
  >
    Create
  </button>
</ng-template>
