<mat-tab-group>
  <mat-tab label="LogOut">
    <button mat-button color="error" (click)="logOut()">LogOut</button>
  </mat-tab>

  <mat-tab label="Edit your profile">
    <app-new-user></app-new-user>
  </mat-tab>

  <mat-tab *ngIf="authService.appUserRole == 'admin'" label="Admin tools">
    <p></p>

    <p>
      <button mat-button color="primary" routerLink="/admin/users">
        admin: users
      </button>
    </p>
    <p>
      <button mat-button color="primary" routerLink="/admin/test-tools">
        admin: test tools
      </button>
    </p>
  </mat-tab>

  <mat-tab label="manager tools"> </mat-tab>
</mat-tab-group>
