<mat-form-field>
  <mat-label>Title - Filter</mat-label>
  <input id="goodsListFilterInput" matInput type="text" [(ngModel)]="pattern" />
  <button
    mat-button
    *ngIf="pattern"
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="pattern = ''; titleFilterReLoad()"
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<br />

<div class="entities-flex-grid">
  <app-goods-card
    *ngFor="let entity of entitys"
    name="{{ entity.name }}"
    description="{{ entity.description }}"
    createdOn="{{ entity.createdOn }}"
    updatedOn="{{ entity.updatedOn }}"
    price="{{ entity.price }}"
    smallPhotoUrl="{{ entity.smallPhotoUrl }}"
    id="{{ entity.id }}"
  ></app-goods-card>
</div>
