<form [formGroup]="createArticleForm">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input
      matInput
      type="text"
      minlength="3"
      maxlength="128"
      placeholder="Title (3-128 symbol)"
      formControlName="title"
    />
    <mat-error *ngIf="!!createArticleForm.get('title').hasError('required')"
      >You must enter a value
    </mat-error>
    <mat-error *ngIf="!!createArticleForm.get('title').hasError('minlength')"
      >minlength="3"
    </mat-error>
    <mat-error *ngIf="!!createArticleForm.get('title').hasError('maxlength')"
      >maxlength="128"
    </mat-error>
  </mat-form-field>
  <br />

  <mat-form-field>
    <mat-label>Description</mat-label>
    <input
      matInput
      type="text"
      minlength="3"
      maxlength="512"
      placeholder="Description (3-512 symbol)"
      formControlName="description"
    />
    <mat-error
      *ngIf="!!createArticleForm.get('description').hasError('required')"
      >You must enter a value
    </mat-error>
    <mat-error
      *ngIf="!!createArticleForm.get('description').hasError('minlength')"
      >minlength="3"
    </mat-error>
    <mat-error
      *ngIf="!!createArticleForm.get('description').hasError('maxlength')"
      >maxlength="512"
    </mat-error>
  </mat-form-field>
  <br />

  <mat-form-field style="width: 800px;">
    <mat-label>Text</mat-label>
    <textarea
      style="min-height: 200px;"
      matInput
      type="text"
      minlength="10"
      maxlength="10000"
      placeholder="Description (10-10000 symbol)"
      formControlName="text"
    ></textarea>
    <mat-error *ngIf="!!createArticleForm.get('text').hasError('required')"
      >You must enter a value
    </mat-error>
    <mat-error *ngIf="!!createArticleForm.get('text').hasError('minlength')"
      >minlength="10"
    </mat-error>
    <mat-error *ngIf="!!createArticleForm.get('text').hasError('maxlength')"
      >maxlength="10000"
    </mat-error>
  </mat-form-field>
  <br />

  <button
    mat-button
    type="button"
    color="primary"
    [disabled]="!createArticleForm.valid"
    (click)="send()"
  >
    Send to Server
  </button>
</form>
