mat-sidenav-content {
  padding: 10px;
}

mat-sidenav-container {
  min-height: 90vh;
  height: fit-content;
}

.layout {
  height: 100vh;
}

.header {}

.main {
  min-height: 90%;
  height: fit-content;
}

.bottom {}
