@import "~@angular/material/theming";
@include mat-core();

$custom-light-app-primary: mat-palette($mat-green, 700, 500, 900);
$custom-light-app-accent: mat-palette($mat-amber, A400, A200, A700);
$custom-light-app-warn: mat-palette($mat-red);

$mat-light-theme-background: (
  status-bar: map_get($mat-grey, 300),
  app-bar: map_get($mat-yellow, 50),
  background: map_get($mat-yellow, 50),
  hover: rgba(black, 0.04),
  card: map_get($mat-yellow, 50),
  dialog: map_get($mat-yellow, 50),
  disabled-button: rgba(black, 0.12),
  raised-button: map_get($mat-yellow, 200),
  focused-button: $dark-focused,
  selected-button: map_get($mat-grey, 300),
  selected-disabled-button: map_get($mat-grey, 400),
  disabled-button-toggle: map_get($mat-grey, 200),
  unselected-chip: map_get($mat-grey, 300),
  disabled-list-option: map_get($mat-grey, 200),
  tooltip: map_get($mat-grey, 700),
);

$custom-light-app-theme: mat-light-theme(
  (
    color: (
      primary: $custom-light-app-primary,
      accent: $custom-light-app-accent,
      warn: $custom-light-app-warn,
    ),
  )
);

@include angular-material-theme($custom-light-app-theme);

.active-link-background {
  background-color: limegreen;
}

// =======================================================

html,
body {
  height: 100%;
  background-color: map_get($mat-yellow, 50);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.loading {
  font-size: 2em;
  color: red;
}

.app-flex-z100-center-class {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.borderOfOnButton {
  border: 1px solid black;
}

$maxAppWidth: 1600px;
$maxFormWidth: 800px;

.app-container-flex {
  display: flex;
  width: 100%;
  max-width: $maxAppWidth;
  margin: auto;
  // border: black 1px solid;
}

.app-container {
  width: 100%;
  max-width: $maxAppWidth;
  margin: auto;
  // border: black 1px solid;
}

.app-form-container {
  max-width: $maxFormWidth;
  margin: auto;
}

.entities-flex-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
}
