<mat-form-field>
  <mat-label>Title - Filter</mat-label>
  <input id="filterInput" matInput type="text" [(ngModel)]="pattern" />
  <button
    mat-button
    *ngIf="pattern"
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="pattern = ''; titleFilterReLoad()"
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<app-article-header-card
  *ngFor="let header of entitys"
  title="{{ header.title }}"
  authorFullName="{{ header.author.fullName }}"
  description="{{ header.description }}"
  createdOn="{{ header.createdOn }}"
  updatedOn="{{ header.updatedOn }}"
  id="{{ header.id }}"
></app-article-header-card>

<div id="IntersectionTarget" style="height: 5px;"></div>
