<div *ngIf="entity">
  <button mat-button color="primary" (click)="goToEdit()">goToEdit</button>
  <h1>
    <small>{{ entity.articleType }} : </small>{{ entity.title }}
  </h1>
  <p>
    author: <strong> {{ entity.author.fullName }}</strong
    >, created: {{ entity.createdOn | utcToLocalTime | date: "short" }}
    <span *ngIf="entity.createdOn != entity.updatedOn"
      >updated: {{ entity.updatedOn | utcToLocalTime | date: "short" }}</span
    >
  </p>
  <p style="margin-left: 2em;">{{ entity.description }}</p>
  <div>{{ entity.text }}</div>
</div>
